@(title: String)(messages: Html)(inputForm: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-2.1.0.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/knockout-3.1.0.js")"></script>
        <script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>
        <script type="text/javascript" src="@routes.Assets.at("../assets/javascripts/chat.js")"></script>

    </head>
    <body>
        <h3 class="titleText">edArea Websocket Chat Test</h3>
        @inputForm
        @messages
    </body>
</html>
